* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# GitHub Linguist language detection overrides
public/build/** linguist-vendored
resources/css/** linguist-vendored
resources/js/echo.js linguist-vendored
resources/js/bootstrap.js linguist-vendored
tests/** linguist-documentation
